name: Build package

on:
  workflow_call:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]


jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --dev --all-extras --locked

      - uses: astral-sh/ruff-action@v3
      - run: ruff check
      - run: ruff format --check
      - run: uv run ty check

  build:
    needs: lint
    name: Build
    runs-on: ubuntu-latest
    outputs:
      WHL: ${{ steps.filenames.outputs.WHL }}
      TARGZ: ${{ steps.filenames.outputs.TARGZ }}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - run: uv venv

      - name: Set new version
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          uv version ${GITHUB_REF/refs\/tags\/v/}

      - name: Build package
        run: uv build

      - name: Set filenames in output
        id: filenames
        run: |
          echo WHL=$(echo dist/*.whl) >> $GITHUB_OUTPUT
          echo TARGZ=$(echo dist/*.tar.gz) >> $GITHUB_OUTPUT

      - name: Archive package
        uses: actions/upload-artifact@v4
        with:
          name: distributions
          path: dist
          retention-days: 5
