name: Documentation
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # normal release
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+" # release candidate
      - "v[0-9]+.[0-9]+.[0-9]+[ab][0-9]+" # alpha or beta release
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  docs-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --group docs
      - name: Build documentation
        run: uv run sphinx-build -b html -j auto docs build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: build
      - uses: actions/deploy-pages@v4
        id: deployment