name: Documentation
on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --group docs
      - name: Build documentation
        run: uv run sphinx-build -b html -j auto docs build
      - uses: actions/upload-artifact@v6
        with:
          name: website
          path: site/
          retention-days: 5
