name: Prerelease package

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  build:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/v') # only publish on specific branches
    uses: ./.github/workflows/build.yml

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/

      - name: Attach artifacts to github release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/*.whl
          prerelease: False
          body_path: CHANGELOG.md